.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.image img {
    width: 500px; /* Fixed width */
    height: auto;
}

.Project p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: left;
    max-width: 600px;
    display: inline-block;
}